In [3]:
#1.

x = [1, 2, 3]
y = 'bootcamp'
z = x + y

TypeError: can only concatenate list (not "str") to list

This code produces a TypeError because you can't concatenate a string and a list and can only concatenate the same datatype.

# 2.

The function type(x) tells us what datatype the variable x is, for example. This should produce an output that says list. 
For y, we would simply run type(y), which should produce the output str for string
The function len(x) and len(y) tells us how many elements are included in each datatype

In [40]:
#3. 

namelist = [2,'2', 2.0, "2.0", 2>1, 'Itamar' > 'Chase', [1, 2], (1, 2), {1: 'one', 2: 'two'}]

for item in namelist:
    print(type(item))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

We use a for loop here to print out the type of each expression in the variable namelist

# 4.

* 1>=0 is a true condition because 1 is greater than or equal to 0
* 1 >= 1 is a true condition because 1 is greater than or equal to 0
* 1 > 1 is a false condition because 1 is not greater than 1
* 1==1 is a true condition because 1 is equal to 1
* 1 == 1.0 is a true condition because the integer 1 is equal to the float 1.0
* 'Spencer' == "Spencer" is a true condition because both strings are equal to each other
* 2^3 > 3^2 is a false condition because the result of the left operand (8) is not greater than the result of the right operand (9)
* 1 >= 0 or 1 <= 2 is a true condition because both comparisons are correct
* 1 >=0 and 1 <= 2 is a true condition because both comparisons are correct

In [1]:
#5. 

if 2>1
    print('Yes, 2 is still greater than 1')

SyntaxError: invalid syntax (<ipython-input-1-6c5d39467c27>, line 3)

This code produces a SyntaxError because our if statement doesn't end with a colon. The syntax is precise for if statements and requires a colon after the condition.

In [2]:
#6.

if True:
    print('on the one hand')
else:
    print('but on the other hand')

on the one hand

Because the if statement tells the program what to do if a condition is true, the result after running the code is on the one hand. However, if we replaced True with False in the first line or added the word not after the if, then the result would be but on the other hand.

In [3]:
#7. 

cond = True
if cond:
    x = "Chase"
else:
    x = "Dave"
print(x)

Chase

In [10]:
#8. 

x = [1, 2, 3, 4]
y = ['x', 'y', 'z']

if len(x) > len(y):
    print('x has more')
else:
    print("y has at least as many")

x has more

# 9.

We can use slicing to access different elements of strings and lists by specifying the item mumber in square brackets. This allows us to pull apart particular pieces of information within large pieces of elements.

In [15]:
#10.

x = [1, 2, 3, 4, 5]
print(x[0])
print(x[4])
print(x[0:4])

1
5
[1, 2, 3, 4]

Here, we have written out the code for how to slice the list x into the first element, last element, and the first 4 elements.

In [50]:
#11.

sentence = 'This is a sentence; please slice it.'
len(sentence)
print(sentence[:4])
print(sentence[5:7])
print(sentence[8:9])
print(sentence[10:18])
print(sentence[20:27])
print(sentence[27:33])
print(sentence[-3:])

This
is
a
sentence
please
slice
it.

In [56]:
#12. 

x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]
print(x[0])
print(x[-1])
print(x[3:7])

1
10
['b', 'fast', 'slow', 3]

In [57]:
#13.

x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]
for item in x:
    print(item)

1
2
a
b
fast
slow
3
Raghu
Liuren
10

In [85]:
#14.

x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]
strings1 = x[2:6]
strings2 = x[7:9]

for item in x:
    print(strings1 + strings2)
    break

['a', 'b', 'fast', 'slow', 'Raghu', 'Liuren']

In [84]:
#15.

range(3,12,2)
list(range(3,12,2))

[3, 5, 7, 9, 11]

The range function generates a list of numbers that allows us to iterate over specfic numbers. Here, we verified this by converting the range (3,12,2) to a list: our range specified that we would start at 3, run until 12, and skip every 2 integers between 3 and 12.

In [130]:
#16.

def sum(numbers):
    total = 30
    for x in numbers:
        if (x%3==0):
            total += x
    return total
print(sum(range(0,30)))

165

In [136]:
#17.

def pocket_change(pennies, nickels, dimes, quarters):
    value = pennies + 5*nickels + 10*dimes + 25*quarters
    return value/100

v = pocket_change(1, 2, 3, 4)
print(v)

1.41

In [173]:
#18.

def notsix(y):
    x = []
    for i in y:
        stri = str(i)
        if stri[0] != '6':
            x.append[i]
        i=i+1
    print(x)

In [174]:
notsix([1234, 6783, 6, 4321, 9876])

TypeError: 'int' object is not callable

# 19.

The new list revises the old list by using the string version of the previous list, and takes the first element and compares it to 6. If the code runs without error then it gets added to the new list.

# 20.

* z is a dictionary and its length is three because it has 3 items inside of it.
* The keys are 1: 2: and 3: and the values are what the keys point to, such as 'one' 'two' and 'three'
* To get the value associated with key 2, you would just run z[2]. This looks like slicing, but we can extract the values assigned to keys this way.
* z.keys allows us to see the keys that are included in our dictionary, while z.values allows us to see their corresponding values.
* list(z.keys()) simply prints the keys that are included in our dictionary in a list format
* list(z.values()) simply prints the values that our keys correspond to in our dictionary in a list format
* list(z) produces the same result as list(z.keys()), which returns the keys in our dictionary (1, 2, and 3 in this case)

In [163]:
z = {1: 'one', 2: 'two', 3: 'three'}

In [164]:
z.keys()

dict_keys([1, 2, 3])

In [165]:
z. values()

dict_values(['one', 'two', 'three'])

In [166]:
list(z.keys())

[1, 2, 3]

In [167]:
list(z.values())

['one', 'two', 'three']

In [168]:
list(z)

[1, 2, 3]

# 21.

This assignment took me over 3 consecutive hours to complete. It was definitely more challenging than the last assignment.